<div id="card-wrapper"
     *ngIf="isCardVisible"
>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ cardResult.docName }}</h5>
      <p class="card-text">Дата создания: {{ cardResult.docDate | date: 'dd.MM.yyyy' }}</p>
      <p class="card-text">Тип документа: {{ cardResult.docType }}</p>
      <p class="card-text">ФИО: {{ cardResult.author.fio }}</p>
      <p class="card-text">Аккаунт: {{ cardResult.author.account }}</p>
      <p class="card-text">Должность: {{ cardResult.author.post }}</p>
      <p class="card-text">Код документа: {{ cardResult.docCode }}</p>
      <p class="card-text">Статус: {{ cardResult.status }}</p>
      <p class="card-text">Адрес: {{ cardResult.address }}</p>
      <p class="card-text">Признак приватности: {{ cardResult.isSpecial }}</p>
      <div class="card-body__buttons">
        <button class="btn btn-primary"
                (click)="isCardVisible = false; isFormVisible = true"
        >
          Редактировать
        </button>
        <button class="btn btn-primary"
                [routerLink]="['/']"
        >
          На главную
        </button>
        <i class="fa fa-trash" aria-hidden="true" title="Удалить"
           (click)="deleteCard()"
        ></i>
      </div>
    </div>
  </div>
</div>
<div id="form-edit__wrapper"
     *ngIf="isFormVisible"
>
  <h5 class="card-title">Редактирование документа</h5>
  <form [formGroup]="cardForm" (ngSubmit)="saveInfo()">
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('name').touched && cardForm.get('name').invalid}"
    >
      <label for="exampleFormControlInput1">Название</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('code').touched && cardForm.get('code').invalid}"
    >
      <label for="exampleFormControlInput2">Код документа</label>
      <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="code">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('type').touched && cardForm.get('type').invalid}"
    >
      <label for="exampleFormControlInput3">Тип документа</label>
      <input type="text" class="form-control" id="exampleFormControlInput3" formControlName="type">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('fio').touched && cardForm.get('fio').invalid}"
    >
      <label for="exampleFormControlInput4">ФИО</label>
      <input type="text" class="form-control" id="exampleFormControlInput4" formControlName="fio">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('account').touched && cardForm.get('account').invalid}"
    >
      <label for="exampleFormControlInput5">Аккаунт</label>
      <input type="text" class="form-control" id="exampleFormControlInput5" formControlName="account">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('post').touched && cardForm.get('post').invalid}"
    >
      <label for="exampleFormControlInput6">Должность</label>
      <input type="text" class="form-control" id="exampleFormControlInput6" formControlName="post">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('address').touched && cardForm.get('address').invalid}"
    >
      <label for="exampleFormControlInput7">Адрес</label>
      <input type="text" class="form-control" id="exampleFormControlInput7" formControlName="address">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('date').touched && cardForm.get('date').invalid}"
    >
      <label for="exampleFormControlInput8">Дата</label>
      <input type="date" class="form-control" id="exampleFormControlInput8" formControlName="date">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('status').touched && cardForm.get('status').invalid}"
    >
      <label for="exampleFormControlInput9">Статус</label>
      <input type="text" class="form-control" id="exampleFormControlInput9" formControlName="status">
    </div>
    <div class="form-group"
         [ngClass]="{invalid: cardForm.get('special').touched && cardForm.get('special').invalid}"
    >
      <label for="exampleFormControlSelect1">Признак приватности</label>
      <select class="form-control" id="exampleFormControlSelect1" formControlName="special">
        <option>true</option>
        <option>false</option>
      </select>
    </div>
    <div class="form-edit__buttons">
      <button class="btn btn-primary"
              type="submit"
              [disabled] = this.cardForm.invalid
      >
        Сохранить
      </button>
      <button class="btn btn-primary"
              (click)="isCardVisible = true; isFormVisible = false"
      >
        Отмена
      </button>
    </div>
  </form>
</div>
