@mixin buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &>button {
    margin-right: 2%;
  }
}

#card-wrapper {
  margin: 0 auto;

  & .card {
    max-width: 30rem;
    margin: 20px auto;

    & .card-title {
      font-size: 20px;
      font-weight: 500;
    }

    & .card-body__buttons {
      @include buttons;

      & i {
        margin-top: 10px;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
}

#form-edit__wrapper {
  max-width: 30rem;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 20px auto;

  & .card-title {
    font-size: 20px;
    font-weight: 500;
  }

  & .form-group{

    &.invalid {
      input, select {
        border-color: red;
        border-width: 1px;
      }
    }
  }

  & .form-edit__buttons {
    @include buttons;
  }
}

@media screen and (max-width: 500px) {
  #card-wrapper {
    overflow: hidden;
    padding: 5px;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}
