<div class="wrapper m-2">
  <table mat-table [dataSource]="dataSource$" matSort [matSortDisableClear]="true">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Аккаунт</th>
      <td mat-cell *matCellDef="let element">
        {{ element.author.account }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ФИО</th>
      <td mat-cell *matCellDef="let element">
        {{ element.author.fio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Должность</th>
      <td mat-cell *matCellDef="let element">
        {{ element.author.position }}
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Код документа</th>
      <td mat-cell *matCellDef="let element">
        {{ element.code }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date: 'dd.MM.yyyy' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Тип</th>
      <td mat-cell *matCellDef="let element">
        {{ element.type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Адрес</th>
      <td mat-cell *matCellDef="let element">
        {{ element.address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="private">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Приватность</th>
      <td mat-cell *matCellDef="let element">
        {{ element.private }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="['/', 'document', row.id]" title="Открыть карточку документа"></tr>

  </table>
</div>

<div class="d-flex justify-content-between align-items-center">
  <a class="ms-3"
     title="Создать документ"
     [routerLink]="['/', 'create']"
  >
    <i class="fa fa-plus"></i>
  </a>
  <mat-paginator [length]="storageData$.value.length"
                 [pageSize]="paginatorOptions$.value.pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
